@charset "UTF-8";

* {
 font-family: Arial, Helvetica, sans-serif;
/*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #6ea874a9;
   width: 600px;
    padding: 10px;
    margin:auto
}
h1{
    text-align: center;
    color: #012030;
    text-shadow: 1px 1px 2px #022e468e;
}
h2{
    color: #13678A;
}
p {
    text-align: justify;
}