@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(pacote-projeto-d010/fontes/idroid.otf);
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: "android", 'cursive';
}
*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrão);
}
a.externo::after {
    content: '\00A0\1F517';
}

header{
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
header > h1{
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
    font-weight: normal;
}
header > p{
    font-family: var(--font-padrão);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.329);
    
}
nav > a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 5px;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main {
    background-color: white;
    margin: auto;
    min-height: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}
main h1{
    font-family: var(--font-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--font-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 8px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong {
    color: var(--cor4);
    font-weight: bolder;
}
main a{
    background-color: var(--cor2);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
main img {
    width: 100%;
}
 main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
 }
  aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
 }
 aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

 }
 aside > ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    
 }
footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}